<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-8" id="menus">
    {{! Dropdown that allows user to only pick burgers on menu }}
      {{> menu/dropdown}}
  </div>
</div>

<div class="row">
  {{! Burgers to eat}}
  <div class="col-sm-1"></div>
  <div class="col-sm-5"> 
    <h4>You Ordered:</h4><hr>
    <ul>
      {{#each brgr}}
        {{#unless this.devoured}}
          <div class="toEat">
            <p class="orderForm">
              {{this.id}}. {{this.burger_name}}

              <form action="update/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="1">
                <button type="submit" class="btn btn-primary">DEVOUR IT!</button>
              </form>
  
            </p>
          </div>
        {{/unless}}
      {{/each}}
    </ul>
  </div>

  {{! Devoured Burgers}}
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <h4>You Ate:</h4><hr>
    <ul>
      {{#each brgr}}
        {{#if this.devoured}}
          <div class="justAte">
            <p class="orderForm">
              {{this.id}}. {{this.burger_name}}

              <form action="delete/{{this.id}}?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-primary">YUM</button>
              </form>
            </p>
          </div>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>


